.products{
    @include clearfix;
    display: flex;
    max-width: 90rem;
    margin: auto;
    flex-wrap: wrap;
    @include respond-to(small){
        display: block;
    }
    &__product{
        flex: 33.33%;
        max-width: 33.33%;
        box-sizing: border-box;
        text-align: center;
        font-size: 1.4rem;
        padding: 2rem;
        @include respond-to(medium){
            flex: 50%;
            max-width: 50%;
        }
        @include respond-to(small){
            max-width: 100%;
        }
        &--pic{
            width: 10rem;
            height: 10rem;
            display: block;
            margin: auto;
        }
        &--title{
            text-decoration: none;
            font-weight: bold;
            min-height: 2rem;
            max-height: 2rem;
            overflow: hidden;
            display: block;
            color:$black;
        }
        &--addTocart{
            @include btn;
            
        }
    }
}