@mixin clearfix {
    &::after{
    clear: both;
    content: "";
    display: table;
  }
}
@mixin flexContainer{
	display: flex;
    margin: auto;
    max-width: 90rem;
    flex-wrap: wrap;
	align-items: center;
}
@mixin btn{
    color: $white;
    background-color: $orange;
    width: 12rem;
    height: 3.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
	cursor:pointer;
}

@mixin  respond-to($size) {
    @if $size == small{
        @media screen and (max-width:$small){
            @content;   
        }
    } 
    @else if $size == medium{
        @media screen and (max-width:$medium){
            @content;   
        }
    } 
	@else if $size == large{
        @media screen and (max-width:$large){
            @content;   
        }
    } 
	@else if $size == xlarge{
        @media screen and (max-width:$xlarge){
            @content;   
        }
    }    
}


